*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(61, 59, 59);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.white-space{
  background-color: #fff;
  width: 35p5x;
  height: 140px;
  display: flex;
  align-items: center;
  letter-spacing: 8px;
  color: black;
}
.blue-button{
  width: 90px;
  height: 80px;
  font-size: 18px;
  background-color: #28346a;
  border: none;
  outline: none;
  margin-left: -4px;
  color: #fff;
}
.red-button{
  width: 185px;
  height: 80px;
  font-size: 18px;
  background-color: rgb(191, 23, 23);
  border: none;
  outline: none;
  color: #fff;
}
.orange-button{
  width: 90px;
  height: 80px;
  font-size: 18px;
  background-color: rgb(199, 136, 19);
  border: none;
  outline: none;
  margin-left: -4px;
  color: #fff;
}
.calc-body{
  display: flex;
}
.horizontal-row{
  display: flex;
  flex-direction: column;
  margin-left: -5px;
}
.span-button{
  width: 90px;
  height: 160px;
  font-size: 18px;
  background-color: #28346a;
  border: none;
  outline: none;
  margin-left: -4px;
  color: #fff;
}
 
/* .whole-calculator{
    display: grid;
  place-items: center;
  height: 100vh;
}
/* .white-space{
    background-color: #fff;
    grid-column-start: span 4;
} */
/* .white-space{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  max-width: 500px;
}
button{
  background-color: #28346a;
  border: 0;
  box-shadow: 0 0 0 1px rgba(57, 57, 57, 0.681);
  color: #fff;
  font-size: 18px;
  height: 56px;
  min-width: 70px;
  width: 100%;
} */ 
